.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;


  @include font-sans(18px, 30px, $basic-grey);
}

.page__body.scroll-lock {
  overflow: hidden;
}
